@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@media (prefers-reduced-motion: no-preference) {
}
:root {
  --bp-small: 48em;
  --bp-medium: 64em;
  --bp-large: 85.375em;
  --bp-xlarge: 120em;
  --bp-xxlarge: 160em;
  --base-font-size: 1.5em;
  --base-line-height: 1.8;
  --header-line-height: 1;

  /* Neutral Colors */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  /* Primary Colors */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}
/* <----**CSS Reset**----> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--Off-white);
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: var(--base-line-height);
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
}
main {
  padding: 0 2rem 4rem 2rem;
  max-width: var(--bp-medium);
  min-width: 17em;
}

/* <----**Navigation Section**----> */
.logo {
  height: auto;
  width: 40px;
  max-width: 100%;
}
.icon {
  height: 1.5em;
  width: auto;
  max-width: 100%;
}
.close {
  height: 2.5em;
  margin-bottom: 5rem;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--Off-white);
  padding: 3rem 0;
  /* outline: 1px solid red; */
}
.navlistwrap {
  position: fixed;
  right: 0;
  top: 0;
  width: 68vw;
  height: 100dvh;
  background-color: var(--Off-white);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 2rem;
}
.navlistwrap .icon {
  align-self: flex-end;
  /* took ages to find this fix to aligning the close icon */
  margin-left: auto;
}
.navlist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* outline: 1px solid red; */
}

.navlistItem a {
  font-size: 1.8rem;
  color: var(--Very-dark-blue);
}

.navlistItem a:hover {
  color: var(--Soft-red);
  cursor: pointer;
}

.hideMenu {
  display: none;
}
/* <----**Hero Section**----> */
.heroSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.heroTitle {
  font-size: 4rem;
  line-height: var(--header-line-height);
  font-weight: 800;
}

.heroText-overview {
  font-size: 1.5rem;
  color: var(--Dark-grayish-blue);
  padding: 2rem 0;
}
.ctaButton {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
}
.ctaButton:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  cursor: pointer;
}

/* <----**New Post Section**----> */
.newPostsContainer {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  padding: 2rem;
  margin: 4rem auto;
  /* max-width: 70em; */
  height: inherit;
}
.newsColumn-title {
  color: var(--Soft-orange);
  font-size: 3rem;
}
.newsPost {
  border-bottom: 1px solid var(--Dark-grayish-blue);
  padding: 2rem 0;
}
.newsPost:nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
}
.newsPostTitle {
  font-size: 2rem;
}

.newsPostIntro {
  color: var(--Grayish-blue);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.newsPostTitle:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.dark {
  color: var(--Dark-grayish-blue);
}

/* <---**Ranking Section**---> */
.rankingNewsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.rankingNewsCard {
  display: flex;
}
.newsPostThumbnail {
  width: 100px;
  object-fit: contain;
}
.rankingText {
  padding-left: 2rem;
}
.rankNumber {
  font-size: 3rem;
  color: var(--Grayish-blue);
}
.newsTitle {
  font-size: 1.8rem;
}
.newsTitle:hover {
  color: var(--Soft-red);
  cursor: pointer;
}

/* <----------------Footer---------------> */
.attribution {
}

@media screen and (min-width: 64em) {
  main {
    max-width: none;
    padding: 5vh 9vw;
  }
  .navigation {
    /* padding: 0; */
  }
  .navlistwrap {
    flex-direction: row;
    position: unset;
    padding: 1rem;
    height: auto;
    width: auto;
  }
  .icon {
    display: none;
  }

  .navlist {
    flex-direction: row;
    gap: 2rem;
  }
  .hideMenu {
    display: unset;
  }
  .navlistItem a {
    flex-direction: row;
  }

  .heroText {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* gap: 9dvw; */
    height: 100%;
  }
  .heroTitle {
    flex: 1;
    font-size: 4rem;
  }
  .heroText-Wrapper {
    flex: 1;
    margin: 0;
    padding: 0 2rem;
  }
  .heroText-overview {
    padding-top: 0;
    margin-bottom: 2rem;
  }
  .desktopMode {
    display: flex;
    /* flex: 3 2; */
    gap: 4rem;
  }
  .newPostsContainer {
    margin: 0;
    min-width: 35rem;
  }

  .rankingNewsContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 85em) {
  main {
    /* max-width: 85em; */
  }
  .heroTitle {
    flex: 1;
    font-size: 5.5rem;
  }
}
