@media (prefers-reduced-motion: no-preference) {
}
:root {
  --bp-small: 48em;
  --bp-medium: 64em;
  --bp-large: 85.375em;
  --bp-xlarge: 120em;
  --bp-xxlarge: 160em;
  --base-font-size: 1em;
  --base-line-height: 1.5;
  --header-line-height: 1.25;

  /* Neutral Colors */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--Off-white);
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  padding: 0 2rem;
}
.logo {
  height: auto;
  width: 40px;
  max-width: 100%;
}
.icon {
  height: 1.5em;
  width: auto;
  max-width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--Off-white);
  padding: 2rem 0;
}
.navlistwrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navlistwrap .icon {
  align-self: flex-end;
  /* took ages to find this fix to aligning the close */
  margin-left: auto;
}
.navlist {
  display: flex;
  flex-direction: column;
}
.navlistItem {
  padding: 1rem;
  outline: 1px solid red;
}

.hideMenu {
  display: none;
}

@media screen and (min-width: var(--bp-small)) {
}
